<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>
  <body>
    <div class="productsContainer">
      <div class="productsInfoContainer">
        <h1>Lista de Productos</h1>
        <div class="productsDetail">
          <table>
            <thead>
              <tr>
                <th>Título</th>
                <th>Thumbnails</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Categoría</th>
              </tr>
            </thead>
            <tbody>
              {{#each totalProd}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.thumbnails}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.code}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.status}}</td>
                  <td>{{this.stock}}</td>
                  <td>{{this.category}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="productsFormContainer">
        <h1>Formulario Productos</h1>
        <form id="prod-form">
          <div class="inputs">
            <div>
              <input
                type="text"
                id="title"
                autocomplete="off"
                placeholder="Titulo"
                required
              />
              <input
                type="text"
                id="description"
                autocomplete="off"
                placeholder="Descripcion"
                required
              />
              <input
                type="text"
                id="code"
                autocomplete="off"
                placeholder="Codigo"
                required
              />
              <input
                type="text"
                id="price"
                autocomplete="off"
                placeholder="Precio"
                required
              />
            </div>
            <div>
              <input
                type="text"
                id="status"
                autocomplete="off"
                placeholder="Status"
                required
              />
              <input
                type="text"
                id="stock"
                autocomplete="off"
                placeholder="Stock"
                required
              />
              <input
                type="text"
                id="category"
                autocomplete="off"
                placeholder="Categoria"
                required
              />
              <input
                type="text"
                id="image"
                autocomplete="off"
                placeholder="Imagen"
                required
              />
            </div>
          </div>
          <div class="productsFormBtn">
            <button type="submit">Crear</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
  </body>
</html>